<h1>Add FAQ</h1>
<%if flash[:message] %>
  <strong><%= flash[:message] %></strong><br><br>
<% end %>
<form action="/faqs" method="post">
  <label for="question">Question</label>
  <input type="text" name="faq[question]"><br>

  <label for="answer">Answer</label>
  <input type="text" name="faq[answer]"><br><br>

  <% current_user.events.each do |event| %>
    <select name="faq[event_id]">
      <option value="<%= event.id %>">
        <%= event.name %>
      </option>
    </select>
  <% end %>
<br><br>
  <input type="submit" value="Create FAQ">
</form>
