<h1>Your Guestlist</h1>
<a href="/guests/new">Add Guest</a><br><br>
<%if flash[:message] %>
  <strong><%= flash[:message] %></strong><br><br>
<% end %>


<div class="">
  <div class="">Name</div>
  <% current_user.events.each do |event| %>
    <div class=""><%= event.name %></div>
  <% end %>


</div>
<% current_user.guests.each do |guest| %>
  <ul>
     <li><a href="/guests/<%= guest.id %>"><%= guest.name %></a></li><br>

      <% guest.events.each do |event| %>

      <% end %>
  </ul>
<% end %>
