<h1><%= @guest.name %></h1>

<h3>Events Attending</h3>

<button type="button" name="button" onclick="window.location.href = '/guests/<%= @guest.slug %>/edit';">Edit</button>
<button type="button" name="button" onclick="window.location.href = '/guests';">Back</button>
