<h1>Log In To Event Planner</h1>

<form class="" action="/login" method="post">
  <label for="email">Enter Email Address</label>
  <input type="text" name="email" id="email">
  <br>
  <label for="password">Enter Password</label>
  <input type="password" name="password" id="password">
  <br><br>
  <input type="submit" value="Log In">
</form><br>

Or Click <a href="/signup">Here</a> To Sign Up
