<h1>Sign up for Event Planner</h1>
<%if flash[:message] %>
  <strong><%= flash[:message] %></strong><br><br>
<% end %>
<form class="" action="/signup" method="post">
  <label for="email">Enter Email Address</label>
  <input type="text" name="email" id="email">
  <br>
  <label for="password">Enter Password</label>
  <input type="password" name="password" id="password">
  <br><br>
  <input type="submit" value="Sign Up">
</form>

Or Click <a href="/login">Here</a> To Log In
