<h1><%= @event.name %></h1>
<a href="/events/<%= @event.slug %>/edit">Edit Event Name</a>
<a href="/guests/edit">Guestlist</a>
<a href="/venues/<%= @event.venue.id %>/edit">Change Venue</a>

<a href="/logout">Log Out</a>
