<h1>Welcome to Event Planner</h1>
<h5>Sign up to get started or <a href="/login">Log In</a> </h3>

<form class="" action="/signup" method="post">
  <label for="email">Enter Email Address</label>
  <input type="text" name="email" id="email">
  <br>
  <label for="password">Enter Password</label>
  <input type="password" name="password" id="password">
  <br><br>
  <input type="submit" value="Sign Up">
</form>
